* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: var(--text-color);
}

header .container {
  padding: 20px 120px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo, .logo-icon {
  height: 51px;
  width: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  padding: 16px 20px;
}

.nav-links a:hover {
  color: #35B8BE;
}

.nav-links .active {
  color: #35B8BE;
}

.cart {
  position: relative;
  width: 61px;
  height: 61px;
  cursor: pointer;
}

.cart-icon {
  width: 61px;
  height: 61px;
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 0;
}

.cart-count {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--add-button-color);
  color: #35B8BE;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 25px 0px rgba(126, 130, 143, 0.27);
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.theme-toggle {
  cursor: pointer;
  padding: 8px 24px;
  background-color: var(--theme-button-color);
  color: var(--bg-color);
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  header .container {
    padding: 20px 50px;
  }
 
  .navigation {
    gap: 50px;
    margin-left: 25px;
  }
}

@media (max-width: 800px) {
  .navigation {
    gap: 40px;
    margin-left: 25px;
  }

  .nav-links a {
    padding: 16px 10px;
  }

  .actions {
    gap: 40px;
  }
}
