* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: #28224B;
}

header .container {
  padding: 20px 120px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo, .logo-icon {
  height: 51px;
  width: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
}
  
.nav-links {
  display: flex;
  list-style: none;
}
  
.nav-links a {
  text-decoration: none;
  color: #28224B;
  padding: 16px 20px;
}
  
.nav-links a:hover {
  color: #35B8BE;
}

.nav-links .active {
  color: #35B8BE;
}

.cart {
  position: relative;
  width: 61px;
  height: 61px;
}

.cart-icon {
  width: 61px;
  height: 61px;
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 0;
}

.cart-count {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  color: #35B8BE;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 7px 25px 0px rgba(126, 130, 143, 0.27);
}

@media (max-width: 720px) {
  .navigation {
    gap: 5px;
    margin-left: 5px;
  }
}
